<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="/static/style_menu.css">
</head>
<body>
    <div class="name">
        <h1>Меню</h1>
    </div>
    <div class="menu">
        <table>
            <tr>
                <td>Назва</td>
                <td>Ціна</td>
                <td>інгредієнти</td>
            </tr>
            <tr>
                <td>Пепероні</td>
                <td>3,60$</td>
                <td>Тісто, томатний соус, сир моцарела, ковбаса пепероні, орегано</td>
            </tr>
            <tr>
                <td>Моцарела</td>
                <td>3,10$</td>
                <td>Тісто, томатний соус, сир моцарела, базилік</td>
            </tr>
            <tr>
                <td>Чотири сира</td>
                <td>3,80$</td>
                <td>Тісто, томатний соус, сир моцарела, сир пармезан, сир горгонзола, сир емменталь</td>
            </tr>
        </table>
    </div>
    <a href="homepage.html">На головний екран</a>
</body>
</html>